

header {

    background-color: #24282f;
    padding-top: 32px;
    padding-bottom: 32px;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-weight: 11px;
    text-transform: uppercase;
}

.header_objects {
    max-width: 1097px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    
    }

.header_objects a {

   display: inline-block;

}

.header_objects a img {

   display: flex;
   justify-content: left ;

}




.header_objects nav ul  {

   /* display: inline-block; */
   display: flex;
   justify-content: space-between;
    text-decoration: none;
    list-style: none;

}


.header_objects nav ul li {

    /* display: flex;
    justify-content: space-between; */
    
    text-decoration: none;
    list-style: none;
    margin-right: 50px;

}

.header_objects nav ul li a {

    /* display: flex;
    justify-content: space-between; */
    text-decoration: none;
    list-style: none;
    color: white;
    
}



.header_objects nav ul li :hover  {
    border-bottom: solid #b5a263;
    border-width: 2px;
    

}

.second_section_1 {

    background-image: url(../images/section_bg.png);
    padding-top: 72px;
    padding-bottom: 72px;
    font-family: 'Raleway', sans-serif;
    color: white;


}

.second_section_2 {

    max-width: 1109px;
    margin:auto
}

.second_section_2 h1 {
text-transform: uppercase;
font-weight: normal;
font-size: 31px;

}

.second_section_2 p {

    margin-top: 17px;
    font-size: 11px;

}

.third_section_1 {

    background-color: white;
    padding-top: 122px;
    padding-bottom: 27px;
}

.third_section_2 {

    max-width: 887px;
    margin: auto;
}

.third_section_2 h2 {

    text-align: center;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 19px;

}

.border {

    width: 61px;
    border-top:3px solid #b5a263;
    margin: auto;
   margin-top: 25px;

}

.border_2 {

    width: 61px;
    border-top:3px solid black;
    margin: auto;
   margin-top: 25px;

}

.images {

    padding-top: 26px;
}

.images a {

    display:inline-block;
position: relative;
left: 40px;
background-color: #dedede;

border-radius: 100px;
width: 28px;
height: 28px;
text-align: center;
}



.icon {
filter: brightness(0) invert(1);
margin-top: 5px;

}



figure {
    display: inline-block; /* Выстраиваем по горизонтали */
    
    padding: 15px; /* Поля */
    margin: 0 1em 0 0; /* Отступ справа */
    vertical-align: top; /* Выравниваем по верхнему краю */
   }

.name {
padding-top: 24px;    
color: #232323;
font-size: 13px;
text-transform: uppercase;
font-family: 'Raleway', sans-serif;
font-weight: 500;


   }

  .job {

    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    text-align: center;
    color: #b6a365;
    font-size: 11px;
    display: inline-block;
    
  }

 .button_1 {
     
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 37px;
      text-transform: uppercase;
      color: #2c3036;
      font-size: 13px;
      font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    background: white;
    border-radius: 20px;
    border-color: black;
    width: 131px;
    height: 38px;
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;

  }

  
.fourth_section_1 {

    background-color: #f7f7f7;
    padding-top: 94px;
    padding-bottom: 94px;

}

.fourth_section_2 {

    max-width: 892px;
    margin: auto;
    text-align: center;
}
.fourth_section_2 h3 {

    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 19px;
}

.fourth_section_2 img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 51px;

}

.fourth_section_2 p {

    margin-top: 29px;
    font-size: 11px;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;

}
.fourth_section_2 h4 {
    margin-top: 37px;
    color: #c0b07c;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}

.fourth_section_2 h5 {

    margin-top: 17px;
    font-family: 'Open Sans', sans-serif;
}


.section_5 {

    background-color: #2b2f35;
    padding-top: 63px;
    padding-bottom: 35px;
    color: bisque;
    
    
    
}

.column {
    max-width: 888px;
    margin: auto;
    -webkit-column-width: 200px;
    -moz-column-width: 200px;
    column-width: 200px;
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    -webkit-column-gap: 30px;
    -moz-column-gap: 30px;
    column-gap: 100px;
/*     -webkit-column-rule: 1px solid #ccc;
    -moz-column-rule: 1px solid #ccc;
    column-rule: 1px solid #ccc; */
   }

   .column h2 {

    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 11px;
    color: #b5a263;
    text-transform: uppercase;

   }

   .column p {

    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 11px;
    color: #6e7279;
    margin-top: 10px;
   }

   .column button {

    background: #b5a263;
    color: #f0ecdf;
    text-transform: uppercase;
    width: 210px;
    height: 28px;
    position: relative;
    bottom: 10px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
   

   }

   .column input {

background: #2b2f35;
/* color: #666a70; */
/* border-color: #666a70; */
border-top-color: #666a70;
border-right-color: #666a70;
border-bottom-color: #666a70;
border-left-color: #666a70;
/* margin-top: 10px; */
position: relative;

height: 28px;


   }

   .first_footer {

    background-color: #24282f;
    padding-top: 30px;
    padding-bottom: 35px;
   }

   .footer_bottom {
max-width: 887px;
margin: auto;
    
   }

   .sign {
       display: inline-block;
       font-size: 10px;
       color: #666a70;
   }

.footer_bottom .container .footer_soc{
    float: right;
    margin: 13px 0 12px;
    position: relative;
    bottom: 14px;
}
.footer_bottom .container .footer_soc {
    background-color: #24282f;
    width: 28px;
    height: 28px;
    border-radius: 20px;
    display: inline-block;
    border:solid 1px #5b5f66;
    text-align: center;
    line-height: 28px;
    margin-left: 8px;
    font-family: "Font Awesome 5 Brands";
    font-size: 13px;
    color: #6e7279;
    font-style: normal;
    font-variant: normal;
    text-decoration: none;
}
.footer_bottom .container .footer_soc.facebook:before {
    content: "\f39e";
}
.footer_bottom .container .footer_soc.twitter:before {
    content: "\f099";
}
.footer_bottom .container .footer_soc.google:before {
    content: "\f0d5";
}
.footer_bottom .container .footer_soc.dribbble:before {
    content: "\f17d";
}
.footer_bottom .container .footer_soc:hover {
    background-color: #b5a263;
    border-color: #b5a263;
    color: white;
}

/* .sixth_section_1 {
background-color:#24282f ;
padding-top: 23px;
padding-bottom: 23px;

}

.sixth_section_2 {

    max-width: 887px;
    margin: auto;
}

.facebook {
background-color: chocolate;
border-radius: 100px;
display: inline-block;
}

.sixth_section_2 p {

    display: inline-block;
    
} */





   


/* .fifth_section_1 {
    padding-top: 63px;
      padding-bottom: 53px;
    background-color: #2b2f35;
    
  }
  
.fifth_section_2 {
    max-width: 900px;
    margin: auto;
    
    
  }
  
  
  
  .child {
     
      
      float: left;
      width: 25.9%;
      margin-right: 2%;
      padding-bottom: 63px;
      
  }
  
  button {
    display: block;
    margin-top: 25px;
    
  }

   */
  
  
  /* .sixth_section_1 {
background-color: #24282f;

  }
.sixth_section_2 {

    max-width: 887px;
} */

